{include file="public/header" /}
<style type="text/css">
    /*强制table不换行*/
    table td{word-break: keep-all;white-space:nowrap;}
    table th{word-break: keep-all;white-space:nowrap;}
    .tableWordVreakNone{
        white-space: normal !important;word-break: normal !important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>分销商资金流水列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">

                    <form method="post" action="{:url('index')}" id="searchForm" class="form-inline">
                        <input type="hidden" name="distributors_uuid" value="{$distributors_uuid}">

                        <label for="">类型</label>
                        {:getEnumSelectWidget($log_types, 'log_type', '-全部-', isset($log_type) ? $log_type : '', 1)}

                        <label for="">增加类型</label>
                        {:getEnumSelectWidget($add_types, 'add_type', '-全部-', isset($add_type) ? $add_type : '', 1)}

                        <label for="">消耗类型</label>
                        {:getEnumSelectWidget($reduce_types, 'reduce_type', '-全部-', isset($reduce_type) ? $reduce_type : '', 1)}


                        <button class="btn btn-success btn-sm" type="submit" style="margin-bottom:0;margin-left:4px"><i class="fa fa-filter"></i> 筛选</button>
                        <a class="btn btn-primary btn-sm"  style="margin-bottom:0" href="{:url('index')}"><i class="fa fa-filter"></i> 重置</a>
                    </form>

                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <div style="overflow-x:scroll;width:100%;">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="long-tr">
                                <th>类型</th>
                                <th>来源类型</th>
                                <th>消耗类型</th>
                                <th>金额</th>
                                <th>操作前金额</th>
                                <th>操作后金额</th>
                                <th>描述</th>
                                <th>操作时间</th>

                            </tr>
                            </thead>
                            <tbody id="list-content">
                            {foreach $list as $vo}
                            <tr class="long-td">
                                <td>{$vo.type}</td>
                                <td>{$vo.add_type}</td>
                                <td>{$vo.reduce_type}</td>
                                <td>{$vo.money}</td>
                                <td>{$vo.before_balance}</td>
                                <td>{$vo.after_balance}</td>
                                <td>{$vo.detail_note}</td>
                                <td>{$vo.create_time|date="Y-m-d H:i:s"}</td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <div id="laypage"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

{include file="public/footer" /}




<script type="text/javascript" src="/static/admin/js/laypage.js"></script>
<script type="text/javascript">

    layer.photos({
        photos: '.layer-photos-demo'
//  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'laypage'
            ,count: '{$list->total()}' // 总数据条数
            ,curr: '{$list->currentPage()}' // 当前第几页
            ,limit: '{$list->listRows()}'   // 每页显示条数
            ,layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
            ,jump: function(obj, first){
                //首次不执行
                if(!first){
                    $("#searchForm").attr('action', '{:url("index")}?page='+obj.curr+
                        "distributors_uuid={$distributors_uuid}" +
                        "&log_type={$log_type|default=''}" +
                        "&add_type={$add_type|default=''}" +
                        "&reduce_type={$reduce_type|default=''}"
                    );
                    $("#searchForm").submit();
                }
            }
        });
    });
</script>

</body>
</html>