{include file="public/header" /}
<!-- 配置文件 -->
<script type="text/javascript" src="/static/admin/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/admin/ueditor/ueditor.all.js"></script>
<style type="text/css">
    /*强制table不换行*/
    table td{word-break: keep-all;white-space:nowrap;}
    table th{word-break: keep-all;white-space:nowrap;}
    .tableWordVreakNone{
        white-space: normal !important;word-break: normal !important;
    }
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <!-- Panel Other -->
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>品牌列表</h5>
        </div>
        <div class="ibox-content">
            <!--搜索框开始-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-2" style="width: 100px">
                        <div class="input-group">
                            <a href="{:url('add')}">
                                <button class="btn btn-outline btn-primary" type="button">添加品牌</button>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <form method="post" action="{:url('index')}" id="searchForm" class="form-inline">
                            <input type="text" name="name" value="{$name|default=''}" placeholder="品牌名称" class="form-control">

                            <button class="btn btn-success btn-sm" type="submit" style="margin-bottom:0;margin-left:4px"><i class="fa fa-filter"></i> 筛选</button>
                            <a class="btn btn-primary btn-sm"  style="margin-bottom:0" href="{:url('index')}"><i class="fa fa-filter"></i> 重置</a>
                        </form>
                    </div>
                </div>
            </div>
            <!--搜索框结束-->
            <div class="hr-line-dashed"></div>

            <div class="example-wrap">
                <div class="example">
                    <div style="overflow-x:scroll;width:100%;">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr class="long-tr">
                                <th>品牌图片</th>
                                <th>品牌名称</th>
                                <th>是否显示</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody id="list-content">
                            {foreach $list as $vo}
                            <tr class="long-td">
                                <td><img src="{$vo.image_url}" alt="" height="30" ></td>
                                <td>{$vo.name}</td>
                                <td>
                                    {if condition="$vo.status eq 1"}
                                    <a class="red" href="{:url('deactivate',['id' => $vo['id']])}">
                                        <div><span class="label label-info">正常</span></div>
                                    </a>
                                    {else/}
                                    <a class="red" href="{:url('activate',['id' => $vo['id']])}">
                                        <div><span class="label label-danger">禁用</span></div>
                                    </a>
                                    {/if}
                                </td>
                                <td>
                                    <a href="{:url('edit',['id'=>$vo['id']])}" class="btn btn-primary btn-xs">
                                        <i class="fa fa-paste"></i> 编辑</a>&nbsp;&nbsp;
                                    <a href="{:url('delete',['id'=>$vo['id']])}" class="btn btn-danger btn-xs">
                                        <i class="fa fa-trash-o"></i> 删除</a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <div id="laypage"></div>
                </div>
            </div>
            <!-- End Example Pagination -->
        </div>
    </div>
</div>
<!-- End Panel Other -->
</div>

{include file="public/footer" /}

<script type="text/javascript" src="/static/admin/js/laypage.js"></script>
<script type="text/javascript">
    $(function(){
        $('#formSubmit').click(function() {

            if(common.isNullOrEmpty($('#name').val())){
                layer.msg('请输入品牌',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#image_url').val())) {
                layer.msg('请上传品牌图片',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }


            $("form#add").submit();

        });

    });

    var config = {
        '.chosen-select': {}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }


    function uploadImage(img, formInput, fileInput) {
        $.ajaxFileUpload({
            url: "/admin/upload/uploadImage", //用于文件上传的服务器端请求地址
            secureuri: false, //是否需要安全协议，一般设置为false
            fileElementId: fileInput, //文件上传域的ID
            dataType: 'json', //返回值类型 一般设置为json
            data: "{}",
            success: function (data, status)  //服务器成功响应处理函数
            {
                console.log(data);
                if (data['code'] != 200) {
                    layer.msg(data['msg']);
                    return false;
                }
                $("#" + img).attr("src", data['data']['url']);
                $("#" + formInput).val(data['data']['url']);
                console.log(data['data']['url'])
            },
            error: function (data, status, e)//服务器响应失败处理函数
            {
                console.log(e);
            }
        })
    }

    layer.photos({
        photos: '.layer-photos-demo'
//  ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });

    layui.use(['laypage', 'layer'], function(){
        var laypage = layui.laypage
            ,layer = layui.layer;

        //完整功能
        laypage.render({
            elem: 'laypage'
            ,count: '{$list->total()}' // 总数据条数
            ,curr: '{$list->currentPage()}' // 当前第几页
            ,limit: '{$list->listRows()}'   // 每页显示条数
            ,layout: ['count', 'prev', 'page', 'next', 'refresh', 'skip']
            ,jump: function(obj, first){
                //首次不执行
                if(!first){
                    $("#searchForm").attr('action', '{:url("index")}?page='+obj.curr+"name={$name|default=''}");
                    $("#searchForm").submit();
                }
            }
        });
    });

    var editor = new UE.ui.Editor();
    editor.render("myEditor");
    // 在渲染 ueditor 的时候, 将 ueditor 交给一个全局变量
    var ue = UE.getEditor('myEditor');

    // 重写百度富文本编辑器监听上传图片事件
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function(action) {
        if (action == 'uploadimage') {
            return '/admin/upload/uploadEditorToOss';
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    };
</script>

</body>
</html>