{include file="public/header" /}
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加商品</h5>
                </div>
                <?php isset($data) && var_dump($data)?>
                <div class="ibox-content">
                    <form class="form-horizontal" name="add" id="add" method="post" action="{:url('addPost')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称：</label>
                            <div class="input-group col-sm-3">
                                <input id="goods_name" type="text" class="form-control" name="goods_name" value="{$param['goods_name']|default=''}" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品编号：</label>
                            <div class="input-group col-sm-3">
                                <input id="goods_no" type="text" class="form-control" name="goods_no" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品货号：</label>
                            <div class="input-group col-sm-3">
                                <input id="product_no" type="text" class="form-control" name="product_no" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">市场价格：</label>
                            <div class="input-group col-sm-3">
                                <input id="market_price" type="text" class="form-control" name="market_price" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">门店价格：</label>
                            <div class="input-group col-sm-3">
                                <input id="shop_price" type="text" class="form-control" name="shop_price" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">库存：</label>
                            <div class="input-group col-sm-3">
                                <input id="stock" type="text" class="form-control" name="stock" >
                            </div>
                        </div>
                        <div class="hr-line-dashed">
                        </div><div class="form-group">
                            <label class="col-sm-3 control-label">单位：</label>
                            <div class="input-group col-sm-3">
                                <input id="goods_unit" type="text" class="form-control" name="goods_unit" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否上架：</label>
                            <div class="col-sm-6">
                                <div class="radio ">
                                    <input type="checkbox" class="js-switch" checked />&nbsp;&nbsp;默认开启
                                    <input name="is_sale" value="1" type="hidden">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品属性：</label>
                            <div class="col-sm-6">
                                <input type="checkbox" name="is_best" checked />&nbsp;&nbsp;精品
                                <input type="checkbox" name="is_hot" checked />&nbsp;&nbsp;热销
                                <input type="checkbox" name="is_new" checked />&nbsp;&nbsp;精品
                                <input type="checkbox" name="is_recommend" checked />&nbsp;&nbsp;精品
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品分类：</label>
                            <div class="input-group col-sm-3 selected-box" id="selected-box">
                                <select class="form-control m-b change-select" name="goods_classify[]">
                                    <option value="" selected>==请选择==</option>
                                    {foreach $list as $vo}
                                    <option value="{$vo.uuid}">{$vo.name}</option>
                                    {/foreach}
                                </select>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">品牌：</label>
                            <div class="input-group col-sm-3">
                                <input id="brand" type="text" class="form-control" name="brand" >
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">封面图片：</label>
                            <div class="input-group col-sm-4">

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品描述：</label>
                            <!-- 加载编辑器的容器 -->
                            <div class="input-group col-sm-8">
                            <script id="container" name="description" type="text/plain">{$data["description"]|default=""}</script>
                            <!-- 配置文件 -->
                            <script type="text/javascript" src="/static/admin//ueditor/ueditor.config.js"></script>
                            <!-- 编辑器源码文件 -->
                            <script type="text/javascript" src="/static/admin/ueditor/ueditor.all.js"></script>
                            <!-- 实例化编辑器 -->
                            <script type="text/javascript">
                                var ue = UE.getEditor('container');
                            </script>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button id="formSubmit" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}

<script type="text/javascript">
  
    //提交
    $(function() {

        $('#formSubmit').click(function () {

            if (common.isNullOrEmpty($('#goods_name').val())) {
                layer.msg('请输入商品名称', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#goods_no').val())) {
                layer.msg('请输入商品编号', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#product_no').val())) {
                layer.msg('请输入商品货号', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmptyForDictionary($('#market_price').val())) {
                layer.msg('请输入市场价格', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmptyForDictionary($('#shop_price').val())) {
                layer.msg('请输入门店价格', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmptyForDictionary($('#stock').val())) {
                layer.msg('请输入库存', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            if (common.isNullOrEmpty($('#goods_unit').val())) {
                layer.msg('请输入商品单位', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            }

            $("form#add").submit();

        });

        $(document).on("change", ".change-select", function () {
            var index = $('.change-select').length;
            console.log(index);
            var uuid = $(this).val();
            console.log(uuid);
            if (uuid === "") {
                $(this).nextAll().remove();
                return
            }
            getData(index,uuid);
        });

        function getData(index,uuid) {
            $.ajax({
                url: '/admin/goods/getCat',//地址
                dataType: 'json',//数据类型
                type: 'POST',//类型
                data: {"index": index, "uuid": uuid},
                timeout: 2000,//超时
                //请求成功
                success: function (data) {
                    $('#selected-box').append(data);
                    console.log(data);
                },
                //失败/超时
                error: function (data) {
                    console.log(data)
                }
            })
        }

        function init() {
            var index = $('.change-select').length;
            console.log(index);
            var uuid = $(this).val();
            console.log(uuid);
            if (uuid === "") {
                $(this).nextAll().remove();
                return
            }
            getData(index,uuid);
        }

        init();

        //IOS开关样式配置
        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });

        elem.onchange = function () {
            if (elem.checked) {
                $("input[name='is_sale']").val(1);
            } else {
                $("input[name='is_sale']").val(0);
            }
        };

        var config = {
            '.chosen-select': {}
        };
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    });

</script>
</body>
</html>