{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<link href="/static/admin/css/select2.min.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">

                <div class="ibox-title">
                    <h5>商品规格</h5>
                </div>
                <div class="ibox-content">
                    <?php foreach($classify as $v) : ?>
                    <div>
                    <?php echo $v["name"] ?> :
                    <?php foreach($classifyItem as $item) : ?>
                        <?php if($v["uuid"] == $item["goods_spec_classify"]) { ?>
                        <?php if(in_array($item["uuid"],$goodsSpecUsed)) {?>
                            <input type="checkbox" checked class="spec" name="{$item['goods_spec_classify']}_{$item['uuid']}_{$item['name']}" value="{$item['goods_spec_classify']}_{$item['uuid']}_{$item['name']}">
                        <?php } else { ?>
                            <input type="checkbox" class="spec" name="{$item['goods_spec_classify']}_{$item['uuid']}_{$item['name']}" value="{$item['goods_spec_classify']}_{$item['uuid']}_{$item['name']}">
                        <?php } ?>
                            {$item["name"]}
                        <?php } ?>
                    <?php endforeach;?>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <?php endforeach;?>
                </div>


                <div class="ibox-content">
                    <form class="form-horizontal" name="add" id="add" method="post" action="{:url('editSalePost')}">
                        <input type="hidden" name="goods_uuid" value="{$info.uuid}">

                        <div class="hr-line-dashed"></div>
                    <div id="ibox-content">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>推荐规格</th>
                                <?php foreach($classifyTitle as $value): ?>
                                <th>{$value}</th>
                                <?php endforeach; ?>
                                <th>货号</th>
                                <th>市场价</th>
                                <th>本店价</th>
                                <th>库存</th>
                                <th>销量</th>
                            </tr>
                            <?php foreach($list as $key => $item) : ?>
                            <tr>
                                <td>
                                    <input name="is_default[]" type="radio" <?php echo empty($item['is_default']) ? "" : " checked" ?> value="{$item['goods_spec_item_uuids']}">
                                    <input type="hidden" name="goods_spec_item_uuids[]" value="{$item['goods_spec_item_uuids']}"/>
                                </td>
                                <?php unset($item["is_default"]);unset($item["goods_spec_item_uuids"]); ?>
                                <?php foreach($item as $k => $i): ?>
                                <?php if(in_array($k,array("product_no","market_price","shop_price","stock","sale_num"),true)) { ?>
                                <td><input type="text" name="{$k}[]" value="{$i}"></td>
                                <?php } else {?>
                                <td>{$i}</td>
                                <?php } ?>
                                <?php endforeach; ?>
                            </tr>
                            <?php endforeach; ?>
                        </table>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-3">
                            <button id="getForm" type="button" class="btn btn-primary"><i class="fa fa-check-circle"></i> 获取销售规格</button>&nbsp;&nbsp;&nbsp;
                            <button id="formSubmit" type="button" class="btn btn-primary"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script type="text/javascript" src="/static/admin/js/common.js"></script>
<script src="/static/admin/js/ajaxfileupload.js"></script>

<script type="text/javascript">

    //提交
    $().ready(function () {

        $('#formSubmit').click(function () {

//            if (common.isNullOrEmpty($('#name').val())) {
//                layer.msg('请输入规格内容', {icon: 2, time: 1500, shade: 0.1}, function (index) {
//                    layer.close(index);
//                });
//                return false;
//            }

            $("form#add").submit();

        });

        function getData(items) {
            $.ajax({
                url: '/admin/goods/getSaleForm',//地址
                dataType: 'json',//数据类型
                type: 'POST',//类型
                data: {"item": items},
                timeout: 4000,//超时
                //请求成功
                success: function (data) {
//                    $('#selected-box').append(data);
                    $('#ibox-content').html("");
                    $('#ibox-content').html(data);
                    console.log(data);
                    return true
                },
                //失败/超时
                error: function (data) {
                    console.log(data);
                    return false
                }
            })
        }

        $('#getForm').click(function () {
            var checkboxs = $("input[class='spec']:checked");
            if(checkboxs.length < 1){
                layer.msg('请选择规格', {icon: 2, time: 1500, shade: 0.1}, function (index) {
                    layer.close(index);
                });
                return false;
            } else {
                var data = new Array;
                for (i=0;i<checkboxs.length;i++) {
                    data[i] = checkboxs[i].value;
                }
                console.log(data)
                getData(data)
            }
        })

    });

</script>
</body>
</html>